@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Acme', sans-serif;
}

.map {
    width: inherit !important;
    min-width: auto !important;
}

.gameimage {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.game-border-img {
    border-image: url('/games-bg.png') 30 round;
    border-width: 1.1rem;
}


/* width */
#most-wanted ::-webkit-scrollbar {
    width: 1.2em
}

/* Track */
#most-wanted ::-webkit-scrollbar-track {
    background: #2039af;

}

/* Handle */
#most-wanted ::-webkit-scrollbar-thumb {
    background: #ececec;
}

#most-wanted * {
    scrollbar-color: #ececec #2039af;
    scrollbar-arrow-color: #032242;
}

tbody > tr:nth-child(odd) {
    background: #dbeafe;
}

@media screen and (min-width: 640px) {
    /*   main#carousel {
        position:relative;
        right:40vw
    }*/
}

@media screen and (min-width: 900px) {
    .order-last-item {
        order: 2;
        -webkit-order: 2;
    }
}